name: Release

on:
   push:
      tags:
         - 'v*.*.*' # Matches semantic version tags like v1.2.3 or v1.2.3-rc.1
      branches:
         - main

jobs:
   release:
      runs-on: ubuntu-latest
      steps:
         - name: Checkout code
           uses: actions/checkout@v5

         - name: Extract version from tag
           id: get_version
           run: |
              TAG="${GITHUB_REF##*/}"
              echo "tag=$TAG" >> $GITHUB_OUTPUT
              if [[ "$TAG" =~ - ]]; then
                echo "prerelease=true" >> $GITHUB_OUTPUT
              else
                echo "prerelease=false" >> $GITHUB_OUTPUT
              fi

         - name: Create GitHub Release
           uses: softprops/action-gh-release@v2
           with:
              tag_name: ${{ steps.get_version.outputs.tag }}
              name: Release ${{ steps.get_version.outputs.tag }}
              prerelease: ${{ steps.get_version.outputs.prerelease }}
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

   publish:
      runs-on: ubuntu-latest
      needs: release
      permissions:
         contents: read
         id-token: write
      steps:
         - name: Setup Deno
           uses: denoland/setup-deno@v1
           with:
              deno-version: '^2.5'

         - uses: actions/checkout@v5
         - name: Checkout code
           run: deno publish